/*--------------------Footer top--------------------*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}

main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9b9b9b;
    line-height: 3.8;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #077c39;
    position: relative;
}

    .footer > * {
        flex: 1 100%;
    }

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

    .footer-left img {
        width: 50%;
    }

h3 {
    font-weight: 600;
    font-size: 25px;
    color: black;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

    .footer-right > * {
        flex: 1 50%;
        margin-right: 1.25em;
    }

.box a {
    color: white;
}

.footer-left p {
    padding-right: 20%;
    color: white;
}

.socials a {
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

    .socials a i {
        color: #e7f2f4;
        padding: 10px 12px;
        font-size: 20px;
    }

@media screen and (min-width: 600px) {
    .footer-right > * {
        flex: 1;
    }

    .footer-left {
        flex: 1 0px;
    }

    .footer-right {
        flex: 2 0px;
    }
}

@media (min-width: 600px) {
    .footer {
        padding: 15px;
    }

    main {
        font-size: 55px;
    }
}



/*------------------------Footer Bottom------------------------*/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #000000;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center;
    }
}